button {
    cursor: pointer;
}

.btn-icono {
    width: 25px;
    height: 25px;
    border: 0px;
    background: transparent;
}

.btn-menu {
    background-image: url(../img/icons/menu.png);
    background-position: center;
    background-repeat: no-repeat;
}

.btn-menu-item {
    margin: 5px;
    padding: 10px 5px;
    border: 0px;
    background-color: #dedede;
    width: 150px;
}

.btn-toolbar {
    border: 1px solid #9a9a9a;
    color: #fff;
    background-color: #1c800d;
    text-transform: uppercase;
    padding: 5px 20px;
    margin-left: 10px;
}