.form-container {
    border: 1px solid #dedede;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
}

.form-container label {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-container input {
    border: 1px solid #cdcdcd;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px;
}