#root {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
    color: #353635;
    background-color: #efefef;
}

.page-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.header-container {
    padding: 5px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #cdcdcd;
    align-items: center;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(217,217,217,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(217,217,217,1);
    box-shadow: 0px 2px 5px 0px rgba(217,217,217,1);
}

.body-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: auto;
}

.footer-container {
    padding: 5px;
    border-top: 1px solid #cdcdcd;
}

.side-menu-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-right: 1px solid #cdcdcd;
}

.side-menu-container-hidden {
    display: none;
}

.work-area-container {
    display: flex;
    flex: 1;
    flex-direction: 1;
    overflow: auto;
    padding: 10px;
}

.img-logo {
    margin-left: 20px;
    margin-right: 20px;
}

.section {
    flex: 1;
}

.section-header {
    display: flex;
    flex-direction: row;
    background-color: #787878;
    color: #dedede;
    padding: 10px;
    
    margin-bottom: 10px;
}

.section-title {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.section-tools {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}