.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/background-transparent.png);
}

.modal-modal {
    /*
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px; */
    background-color: #fff;
    outline: none;
    display: flex;
    flex-direction: column;
    max-width: 650px;
    min-width: 450px;
    
}

.modal-title {
    background-color: #1c800d;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
}

.modal-body {
    padding: 10px 20px;
    max-height: 300px;
    overflow: auto;
}

.modal-footer {
    padding: 10px 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}