.tabla-datos {
    border-collapse: collapse;
    width: 100%;
}

.tabla-datos > thead > tr {
    background-color: #cdcdcd;
}

.tabla-datos > tbody > tr {
    border-bottom: 1px solid #dedede;
}

.tabla-datos th, .tabla-datos td {
    padding: 5px;
    text-align: left;
}

.tabla-datos th {
    color: #565656;
}


